/* You can add global styles to this file, and also import other style files */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
html {
  background: #f4f4f4;
  font-family: "Lato", sans-serif;
  line-height: 1.5;
}

@import "./assets/utility";
ngx-datatable {
  font-family: Metropolis, Avenir Next, Helvetica Neue, Arial, sans-serif;
  font-size: 13px;
  border: 1px solid #ccc;
  border-radius: 2px;
  padding: 0;
  background-color: #fff;
  .datatable-header,
  .datatable-footer {
    font-size: 11px;
    line-height: 18px;
    font-weight: bold;
    background-color: #fafafa;
  }
  .datatable-header {
    //border-bottom: 2px solid #ccc;
    box-shadow: 0 2px 4px 0px #ccc;
    .datatable-header-cell {
      line-height: 22px;
      padding-left: 10px;
      height: 22px;
    }
  }
  .datatable-header .datatable-header-cell:not(:first-child) {
    border-left: 1px solid #ccc;
  }

  .datatable-footer {
    border-top: 1px solid #ccc;
    .page-count {
      margin: 10px;
    }
    .pages a {
      padding: 8px;
      color: inherit;
    }
    .pages.active a {
      padding: 8px;
      color: #007cbb;
      background-color: #ddd;
      text-align: center;
    }
  }

  .datatable-header-inner {
    padding: 12px;
  }
  .datatable-body-cell {
    padding: 8px 0 10px 20px;
    border-top: 1px solid #ddd;
  }
  .pager i {
    font-size: 18px;
    vertical-align: middle;
  }
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
